html
  head
    title= settings.title
    link(rel='stylesheet', href='./stylesheets/bootstrap.css')
    link(rel='stylesheet', href='./stylesheets/main.css')
    //- link(rel='stylesheet', href='./stylesheets/style.css')
    script(src='./javascripts/jquery.min.js')
    script(src='./javascripts/bootstrap.min.js')
    
  body
    //- div(class="title") 
    div(class="aaa")
    //- <a id="element" href="#" data-container="div.aaa" data-content='{ "aa":"aa"}'>hover over me</a>
    div(class="contain")
      h1 Heading 1
      h2 Heading 2
    h1(class="title") #{Object.keys(services).length} Services
    table(class='service table table-hover')
      tr(class="title")
        td Name
        td Location
        td Frequency(s)
        td Last Run
        td Next Run
        td Status
      each item, service in services
        tr(class="#{item.name} warning")
          td(class='name') #{item.name_origin}
          td(class='url') 
            a(href="#{item.url}", target="_blank") #{item.url}
          td(class='interval') #{item.interval/1000}
          td(class='last_run')
          td(class='next_run')
          td(class='status') Pending
            //- span(class="text") Pending...
            //- span(class="data") Data



    script(src='./javascripts/main.js')
