html
  head
    title= settings.title
    link(rel='stylesheet', href='./stylesheets/bootstrap.css')
    link(rel='stylesheet', href='./stylesheets/main.css')
    //- link(rel='stylesheet', href='./stylesheets/style.css')
    script(src='./javascripts/jquery.min.js')
    script(src='./javascripts/bootstrap.min.js')
    
  body
    h1(class="title") #{Object.keys(services).length} Services
    table(class='service table table-hover')
      tr(class="header-row")
        th(class="header name") Name
        th(class="header location") Location
        th(class="header frequency") Frequency
        th(class="header last_run") Last Run
        th(class="header next_run") Next Run
        th(class="header status") Status
      each item, service in services
        tr(class="#{item.name} warning")
          td(class='name') #{item.name_origin}
          td(class='url') 
            a(href="#{item.url}", target="_blank") #{item.url} 
          td(class='interval') #{item.cronTime}
          td(class='last_run')
          td(class='next_run')
          td(class='status') 
            span(class="text") Pending...
            <i class="icon-info-sign status-icon"></i>
            //- span(class="data") Data



    script(src='./javascripts/main.js')
